<ion-header>
  <ion-toolbar class="ecatch-toolbar">
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" (click)="close()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title color="light">
      {{ modalTitle }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="searchAttributeList">
    <ion-searchbar
      [placeholder]="placeholderTxt"
      showCancelButton="focus"
      (ionInput)="search($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="displayItems.length > 0">
    <ion-virtual-scroll [items]="displayItems" approxItemHeight="80px">
      <ion-item *virtualItem="let item;" (click)="select(item); close()"
                tappable>
        <ion-label>
          {{ item[displayLabels.mainLabel] }}
          <p *ngIf="displayLabels.subLabel1" [attr.text-wrap]="textWrap">
            {{ item[displayLabels.subLabel1] }} {{ item[displayLabels.subLabel2] }}
            <span *ngIf="displayLabels.bracketedLabel">
              {{ item[displayLabels.bracketedLabel] ? '(' + item[displayLabels.bracketedLabel] + ')' : '' }}
            </span>
          </p>
        </ion-label>
        <span slot="end">
          {{ item[displayLabels.typeLabel] }}
        </span>
      </ion-item>

      <ion-item *ngIf="displayItems.length===0">
        <p style="text-align: center;">{{ itemNotFoundTxt }}</p>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
