<ion-app>
  <ion-menu contentId="content" side="start" type="overlay" swipeGesture="false">
    <ion-header class="primary">
      <ion-toolbar class="header__toolbar">
        <ion-title>eCatch</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu">
      <ion-menu-toggle>
        <ion-item routerLink="/home">
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/activity-log">
          <ion-label>Activity Log</ion-label>
        </ion-item>
        <ion-item routerLink="/settings" *ngIf="debugEnabled$ | async">
          <ion-label>Settings</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
    <ion-footer class="footer-wrapper">
      <app-version></app-version>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
