<ion-app>
  <ion-menu menuId="ecatch-menu" contentId="content" side="start" type="overlay" swipeGesture="false">
    <ion-header>
      <ion-toolbar class="header__toolbar" color="primary">
        <ion-title>VIC eCatch Admin Support</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu">
      <ion-menu-toggle>
        <ion-item routerLink="/home">
          <ion-label>Dashboard</ion-label>
        </ion-item>
        <ion-item routerLink="/trip-manager">
          <ion-label>Trip Manager</ion-label>
        </ion-item>
        <ion-item routerLink="/home">
          <ion-label>
            Receiver Completion</ion-label>
        </ion-item>
        <ion-item routerLink="/login" (click)="logout()">
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
    <ion-footer class="footer-wrapper">
      <app-version></app-version>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
