// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
section.ngx-json-viewer {
  height: auto !important;
}

ion-popover {
  z-index: 20100 !important;
}

.content-wrapper {
  max-width: 1260px;
  margin: 0 auto;
  height: 100%;
  padding: 20px 5px;
  background-color: #fff;
}

ion-content:not(.login-content) {
  --background: #f2f3f2;
}

.vic-fish-logo {
  background-color: transparent;
  padding: 5px 10px;
  max-width: 1260px;
  margin: 0 auto;
  text-align: left;

  &__image {
    width: 150px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.ecatch-toolbar {
  max-width: 1260px;
  margin: 0 auto;
}

ion-footer.ecatch-footer {
  &::before {
    content: '';
    display: block;
    height: 0.5em;
    background: linear-gradient(90deg, #02B2BA, #014671);
  }
  ion-toolbar {
    max-width: 1260px;
    margin: 0 auto;
    --background: transparent;
  }
}
