:root {
  --ion-color-primary: #008099;
  --ion-color-primary-rgb: 0,128,153;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #007187;
  --ion-color-primary-tint: #1a8da3;

  --ion-color-secondary: #8FCDCF;
  --ion-color-secondary-rgb: 143,205,207;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #7eb4b6;
  --ion-color-secondary-tint: #9ad2d4;

  --ion-color-tertiary: #E5F7F8;
  --ion-color-tertiary-rgb: 229,247,248;
  --ion-color-tertiary-contrast: #008099;
  --ion-color-tertiary-contrast-rgb: 0,128,153;
  --ion-color-tertiary-shade: #cad9da;
  --ion-color-tertiary-tint: #e8f8f9;

  --ion-color-success: #00B920;
  --ion-color-success-rgb: 0,185,32;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #00a31c;
  --ion-color-success-tint: #1ac036;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #AF272F;
  --ion-color-danger-rgb: 175,39,47;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #9a2229;
  --ion-color-danger-tint: #b73d44;

  --ion-color-dark: #555555;
  --ion-color-dark-rgb: 85,85,85;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #4b4b4b;
  --ion-color-dark-tint: #666666;

  --ion-color-medium: #858585;
  --ion-color-medium-rgb: 133,133,133;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #757575;
  --ion-color-medium-tint: #919191;

  --ion-color-light: #F6F6F6;
  --ion-color-light-rgb: 246,246,246;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d8d8d8;
  --ion-color-light-tint: #f7f7f7;


  // Custom Variables
  --gradient: linear-gradient(90deg, #02B2BA, #014671);

  --color-primary-shade2: #004976;

  --color-medium-tint2: #b7b7b7;

  --color-light-shade2: #efefef;
  --color-light-shade3: #fbebeb;
  --color-light-shade4: #ccc;

}
