.caret-at-end {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-right: 15px;
}
.caret-at-end:after {
  content: "";
  position: absolute;
  top: calc(50% - 2.5px);
  right: 0;
  width: 0; 
  height: 0; 
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--ion-color-medium-tint);
}

.add-btn {
  width: 70px;
  height: 30px;
}

.input-border {
  border-bottom: 1px solid #dedede;
}
