<ng-container [ngSwitch]="searchNSelectInputType">
  <ion-item class="input-border" (click)="showSearchNSelect()" *ngSwitchCase="SearchNSelectInputType.Input">
    <ion-label [position]="labelPosition">{{ label }}</ion-label>
    <div class="caret-at-end">
      <ion-input [value]="value" [placeholder]="placeholder" (ionFocus)="showSearchNSelect()" readonly [disabled]="disabled"></ion-input>
    </div>
    <ecatch-error-message [error]="errorMessage" *ngIf="showErrorMessage"></ecatch-error-message>
  </ion-item>

  <ng-container *ngSwitchCase="SearchNSelectInputType.Button">
    <ng-container *ngIf="label; else blockButton">
      <ion-item lines="none" class="input-border">
        <ion-label>{{ label }}</ion-label>
        <ion-button class="add-btn" slot="end" (click)="showSearchNSelect()" [disabled]="disabled">{{ buttonText }}</ion-button>
      </ion-item>
    </ng-container>
    <ng-template #blockButton>
      <ion-button shape="round" (click)="showSearchNSelect()" [disabled]="disabled">{{ buttonText }}</ion-button>
    </ng-template>
  </ng-container>
</ng-container>
