// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

section.ngx-json-viewer {
  height: auto !important;
}

ion-popover {
  z-index: 20100 !important;
}

ion-footer.ecatch-footer {
  ion-toolbar {
    &::before {
      content: '';
      display: block;
      height: 0.5em;
      background: linear-gradient(90deg, #02B2BA, #014671);;
    }
  }
}

.vic-fish-logo {
  background-color: white;
  text-align: center;

  &__image {
    width: 30%;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

// Increase opacity for disabled forms and inputs

a[disabled],
button[disabled],
html input[disabled],
ion-item.item-disabled,
.native-input[disabled].sc-ion-input-md,
.item-interactive-disabled.sc-ion-label-md-h:not(.item-multiple-inputs),
.item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h,
ion-datetime.datetime-disabled {
  opacity: .5;
}
